<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="../assets/img/favicon.png">
  <link rel="icon" href="../assets/img/favicon.png">

  <link href="//db.onlinewebfonts.com/c/ea250342ec4016561ba9e791c2f39c11?family=Posterama" rel="stylesheet"
    type="text/css" />

  <!-- Begin Mailchimp Signup Form -->
  <style type="text/css">
    #mc_embed_signup {
      background: #fff;
      clear: left;
      font: 14px Helvetica, Arial, sans-serif;
    }

    #mc_embed_signup div.response {
      font-weight: bold;
      width: 80%;
      text-align: center;
    }

    #mc_embed_signup #mce-error-response {
      display: none;
    }

    #mc_embed_signup div#mce-responses {
      float: left;
      top: -1.4em;
      padding: 0em .5em 0em .5em;
      overflow: hidden;
      width: 90%;
      margin: 0 5%;
      clear: both;
    }
  </style>
</head>

<nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" (click)="home()">
        <img class="logo-tatiana" src="../assets/img/favicon.png" /> <b style="font-family: 'Posterama'">Tatiana
          Takeda</b>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li [ngClass]="(menu == 'home') ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" (click)="home()">
            <b>Tatiana Takeda</b>
          </a>
        </li>
        <li [ngClass]="(menu == 'eventos') ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" (click)="eventos()">
            <b>Eventos</b>
          </a>
        </li>
        <li [ngClass]="(menu == 'blog') ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" (click)="blog()">
            <b>Blog</b>
          </a>
        </li>
        <li [ngClass]="(menu == 'videos') ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" (click)="videos()">
            <b>Vídeos</b>
          </a>
        </li>
        <li [ngClass]="(menu == 'legislacao') ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" (click)="legislacao()">
            <b>Legislação</b>
          </a>
        </li>
        <li [ngClass]="(menu == 'projetos') ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" (click)="projetos()">
            <b>Projetos de Lei</b>
          </a>
        </li>
        <li [ngClass]="(menu == 'direitos') ? 'nav-item active' : 'nav-item'">
          <a class="nav-link" (click)="direitos()">
            <b>Como buscar seus direitos</b>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>