<footer class="footer footer-big">
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-4 text-center">
                    <h3 class="title">
                        + CONTEÚDO EXCLUSIVO<br>
                        NAS REDES SOCIAIS
                    </h3>
                    <button (click)="facebook()" class="btn btn-just-icon btn-round btn-facebook btn-lg"
                        style="margin-right: 15px">
                        <i class="fa fa-facebook"> </i>
                    </button>
                    <!-- <button (click)="instagram()" class="btn btn-just-icon btn-round instagram btn-lg"
                        style="margin-right: 15px">
                        <i class="fa fa-instagram"></i>
                    </button> -->
                    <button (click)="instagram()" class="btn btn-just-icon btn-round instagram btn-lg"
                        style="margin-right: 15px">
                        <img src="assets/img/logo-instagram.png"/>
                    </button>
                    <button (click)="youtube()" class="btn btn-just-icon btn-round btn-youtube btn-lg"
                        style="margin-right: 15px">
                        <i class="fa fa-youtube"> </i>
                    </button>
                </div>
                <div class="col-md-4">
                    <h5>Instagram</h5>
                    <div id="instafeed"></div>
                </div>
                <div class="col-md-4">
                    <iframe
                        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FDireitos-e-Inclus%25C3%25A3o-das-Pessoas-com-Defici%25C3%25AAncia-Prof-Tatiana-Takeda-1697152990570307%2F&tabs=timeline&width=340&height=300&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=461582517537382"
                        width="340" height="220" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
        <hr>
        <ul class="float-left">
            <li>
                <a (click)="home()">
                    Tatiana Takeda
                </a>
            </li>
            <li>
                <a (click)="eventos()">
                    Eventos
                </a>
            </li>
            <li>
                <a (click)="blog()">
                    Blog
                </a>
            </li>
            <li>
                <a (click)="videos()">
                    Vídeos
                </a>
            </li>
            <li>
                <a (click)="legislacao()">
                    Legislação
                </a>
            </li>
            <li>
                <a (click)="projetos()">
                    Projetos de Lei
                </a>
            </li>
            <li>
                <a (click)="direitos()">
                    Como buscar seus direitos
                </a>
            </li>
        </ul>
        <div class="copyright float-right">
            Copyright &#xA9;
            {{year}} <i class="material-icons">favorite</i> Tatiana Takeda
        </div>
    </div>
</footer>