<div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('../assets/img/logos/autismo-background-1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Um lugar para compartilhar e descobrir novas histórias</h2>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="section">
    <div class="row div-center" style="margin-right: 40px; margin-top: -50px">
      <div class="col-md-6">
        <div class="card card-plain card-blog">
          <div class="card-header card-header-image">
            <a href="https://rdstation-static.s3.amazonaws.com/cms/files/13223/1511292654viva-a-diferenca-ebook-completo.pdf"
              target="_blank">
              <img class="img img-raised" src="https://ludovica.opopular.com.br/polopoly_fs/1.1400245.1511367669!/image/image.jpg_gen/derivatives/landscape_800/image.jpg">
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              <a href="https://rdstation-static.s3.amazonaws.com/cms/files/13223/1511292654viva-a-diferenca-ebook-completo.pdf"
                target="_blank">
                O que você precisa saber sobre Autismo
              </a>
            </h4>
            <h5 class="card-description" style="text-align: justify; color: black">
              O e-book traz uma coletânea dos melhores textos do blog "Viva a Diferença!", do site Ludovica, escrito
              pela advogada Tatiana Takeda.
              A articulista compartilha a experiência como mãe de uma criança autista e advogada estudiosa dos direitos
              das pessoas com deficiência.
              <br /><br />
              O material foi inicialmente reunido em três partes. Na primeira edição do especial “Viva a Diferença”, a
              autora fala sobre o que é autismo
              e o longo processo até o diagnóstico. Já na segunda parte, Tatiana Takeda se dedica às informações sobre
              o tratamento, dos avanços científicos
              à discussão sobre a cura, passando pelo trabalho multidisciplinar que é tão conhecido das famílias.
              <br/><br/>
              Na sequência, a autora enfoca a legislação que trata dos direitos das pessoas com deficiências, especialmente 
              nas relações com a escola. Agora, Ludovica apresenta o conteúdo completo, numa versão que reúne todo o material 
              postado anteriormente e os textos que só agora passam a completar o e-book.
              <br/><br/>
              Com todo o cuidado que lhe é característico, a autora procurou profissionais que atuam diretamente com o autismo 
              dentro e fora do Brasil para apresentar seus pontos de vista e conhecimentos sobre o tema. Ao mesmo tempo, a história 
              pessoal de Tatiana com o filho autista, Theo Luiz, humaniza os relatos de cientistas, psicólogos, fonoaudiólogos e estudiosos.
            </h5>
            <a href="https://rdstation-static.s3.amazonaws.com/cms/files/13223/1511292654viva-a-diferenca-ebook-completo.pdf"
              target="_blank" class="btn btn-primary">
              <i class="material-icons" style="margin-right: 5px">cloud_download</i> BAIXAR AGORA
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-left: 40px; margin-right: 40px">
      <div class="col-md-4" *ngFor="let blog of blogs">
        <div class="card card-plain card-blog">
          <div class="card-header card-header-image">
            <a [href]="blog.link_details" target="_blank">
              <img class="img img-raised" [src]="blog.link_image">
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">
              <a [href]="blog.link_details" target="_blank">{{ blog.title }}</a>
            </h4>
            <p class="card-description">
              {{ blog.description }}
              <a [href]="blog.link_details" target="_blank">
                <b>Continuar lendo </b>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>