<div class="page-header header-filter header-small" data-parallax="true"
    style="background-image: url('../assets/img/logos/autismo-background-1.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Você conhece seus direitos?</h2>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="section">
        <div class="row div-center" style="margin-right: 40px; margin-top: -50px">
            <div class="col-md-6">
                <div class="card card-plain card-blog">
                    <a href="http://www.oabgo.org.br/arquivos/downloads/3244a-cartilha-pessoas-com-deficiencia-sem-marca-de-corte-1491700.pdf"
                        target="_blank">
                        <img class="img img-raised" style="max-height: 488px; max-width: 350px;"
                            src="../assets/img/direitos/oab_vc_conhece_seus_direitos.jpg">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="http://www.oabgo.org.br/arquivos/downloads/3244a-cartilha-pessoas-com-deficiencia-sem-marca-de-corte-1491700.pdf"
                                target="_blank">
                                Pessoa com deficiência, você conhece seus direitos?
                            </a>
                        </h4>
                        <h5 class="card-description" style="text-align: justify; color: black">
                            A Ordem dos Advogados do Brasil – Seção Goiás (OAB-GO), por meio da Comissão dos Direitos da
                            Pessoa com
                            Deficiência, lançou a cartilha “Pessoa com deficiência, você conhece seus direitos?”.
                            <br /><br />
                            Com linguagem simples e objetiva, o material apresenta 15 direitos e lista as entidades que
                            fiscalizam a
                            efetivação das garantias. Traz também o calendário inclusivo, com datas alusivas aos
                            direitos da pessoa
                            com deficiência.
                            <br /><br />
                            “O espírito da cartilha é levar conhecimento a quem não tem proximidade com o mundo
                            jurídico. Quando as
                            pessoas têm este tipo de conhecimento sobre os direitos, elas têm a condição de fiscalizar a
                            aplicação
                            da lei", pontua o presidente da CDPcD, Hebert Batista.
                            <br /><br />
                            A secretária-geral adjunta da OAB-GO, Delzira Menezes, ressalta que a cartilha tem o
                            objetivo de
                            esclarecer dúvidas para que se construa uma sociedade mais justa e igualitária.
                            “Nós, da Ordem, queremos com esta campanha e com esta publicação promover a cidadania e
                            contribuir para a
                            participação plena e efetiva dessas pessoas na sociedade, em igualdade de condições com as
                            demais.
                            A OAB-GO se coloca, assim, à frente deste projeto com o propósito de cumprir seu objetivo de
                            promover
                            a Justiça”, frisa.
                        </h5>
                        <a href="http://www.oabgo.org.br/arquivos/downloads/3244a-cartilha-pessoas-com-deficiencia-sem-marca-de-corte-1491700.pdf"
                            target="_blank" class="btn btn-primary">
                            <i class="material-icons" style="margin-right: 5px">cloud_download</i> BAIXAR AGORA
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 40px; margin-right: 40px">
            <h2 class="title div-center">Mais direitos...</h2>
            <div class="col-md-12" *ngFor="let direito of direitos">
                <h4 class="card-title">
                    <a [href]="direito.link" target="_blank">
                        {{ direito.title }}
                        <i class="material-icons">launch</i>
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>