<div class="chk-block">
    <div class="chk-block-title">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-content-start align-self-center">
                <h3 class="text-capitalize">Vídeos</h3>
            </div>
            <div class="d-flex align-content-end">
                <button (click)="add()" class="btn btn-success btn-lg">Adicionar</button>
            </div>
        </div>
    </div>
    <div class="chk-block-content">
        <div class="row">
            <div class="col-sm-6 col-lg-6 col-xl-3 mb-3" *ngFor="let video of videos">
                <div class="card">
                    <figure class="imghvr-zoom-in">
                        <img src="{{ video.link }}" class="img-content" alt="Imagem do Conteúdo">
                        <figcaption class="card-img-overlay pos-center text-center">
                            <div class="center-holder">
                                <a (click)="edit(video)" class="square-40 circle bg-primary">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a (click)="delete(video)" class="square-40 circle bg-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </figcaption>
                    </figure>
                    <div class="card-body text-center">
                        <p>{{ video.title }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>