<div class="login-wrapper">
    <div class="login-form-wrapper">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-8 col-xl-5 mx-auto">
                <div class="login-block text-center">
                    <div class="pos-relative d-inline-block">
                        <span>
                            <img src="../assets/img/autismo/autismo.png" class="img-fluid rounded-circle d-inline-block"
                                alt="Tatiana Takeda" width="150" height="150" style="margin-top: -50px" />
                        </span>
                        <p><b>Tatiana Takeda</b></p>
                    </div>
                    <form class="login-form">
                        <div class="form-group">
                            <input type="email" name="email" [(ngModel)]="email" class="form-control form-control-lg input-square"
                                placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" [(ngModel)]="password" class="form-control form-control-lg input-square"
                                placeholder="Senha" required>
                        </div>

                        <div class="mb-3">
                            <button class="btn btn-primary btn-block btn-lg btn-square" (click)="login()">ENTRAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>