<div class="page-header header-filter header-small" data-parallax="true"
    style="background-image: url('../assets/img/autismo/autismo_maos.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Espaço destinado à indicação de normas correlacionadas ao assunto Inclusão
                    Social e Pessoa com Deficiência</h2>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="section" style="margin-left: 40px; margin-right: 40px">
        <div id="navigation-pills">
            <div class="text-center">
                <ul class="nav nav-pills nav-pills-blue">
                    <li class="nav-item">
                        <a class="nav-link active" href="#federal" data-toggle="tab">Leis Federais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#decreto" data-toggle="tab">Decretos Federais</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#emenda" data-toggle="tab">Emendas à Constituição Federal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#constituicao" data-toggle="tab">Constituição Federal de
                            1988</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="federal">
                    <div *ngFor="let leiFederal of leisFederais">
                        <div class="card card-nav-tabs">
                            <div class="card-header card-header-primary">
                                <i class="material-icons">gavel</i>
                                <strong> {{ leiFederal.title }}</strong>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ leiFederal?.date.toDate() | date: 'dd' }}
                                    de {{ leiFederal?.date.toDate() | date: 'MMMM' }}
                                    de {{ leiFederal?.date.toDate() | date: 'yyyy' }}</h4>
                                <p class="card-text">{{ leiFederal.description }}</p>
                                <a [href]="leiFederal.link" target="_blank" class="btn btn-primary">
                                    <i class="material-icons">link</i> Acessar
                                </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="tab-pane" id="decreto">
                    <div *ngFor="let leiDecreto of leisDecretos">
                        <div class="card card-nav-tabs">
                            <div class="card-header card-header-primary">
                                <i class="material-icons">gavel</i>
                                <strong> {{ leiDecreto.title }}</strong>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ leiDecreto?.date.toDate() | date: 'dd' }}
                                    de {{ leiDecreto?.date.toDate() | date: 'MMMM' }}
                                    de {{ leiDecreto?.date.toDate() | date: 'yyyy' }}</h4>
                                <p class="card-text">{{ leiDecreto.description }}</p>
                                <a [href]="leiDecreto.link" target="_blank" class="btn btn-primary">
                                    <i class="material-icons">link</i> Acessar
                                </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="tab-pane" id="constituicao">
                    <div *ngFor="let leiConstituicao of leisConstituicao">
                        <div class="card card-nav-tabs">
                            <div class="card-header card-header-primary">
                                <i class="material-icons">gavel</i>
                                <strong> {{ leiConstituicao.title }}</strong>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ leiConstituicao?.date.toDate() | date: 'dd' }}
                                    de {{ leiConstituicao?.date.toDate() | date: 'MMMM' }}
                                    de {{ leiConstituicao?.date.toDate() | date: 'yyyy' }}</h4>
                                <p class="card-text">{{ leiConstituicao.description }}</p>
                                <a [href]="leiConstituicao.link" target="_blank" class="btn btn-primary">
                                    <i class="material-icons">link</i> Acessar
                                </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="tab-pane" id="emenda">
                    <div *ngFor="let leiEmenda of leisEmendas">
                        <div class="card card-nav-tabs">
                            <div class="card-header card-header-primary">
                                <i class="material-icons">gavel</i>
                                <strong> {{ leiEmenda.title }}</strong>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ leiEmenda?.date.toDate() | date: 'dd' }}
                                    de {{ leiEmenda?.date.toDate() | date: 'MMMM' }}
                                    de {{ leiEmenda?.date.toDate() | date: 'yyyy' }}</h4>
                                <p class="card-text">{{ leiEmenda.description }}</p>
                                <a [href]="leiEmenda.link" target="_blank" class="btn btn-primary">
                                    <i class="material-icons">link</i> Acessar
                                </a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>