<div class="app" dir="ltr" [ngClass]="themeSkinColor" [class.app-dark]="dark" [class.boxed]="boxed"
   [class.collapsed-sidebar]="collapseSidebar" [class.compact-sidebar]="compactSidebar" [class.customizer-in]="customizerIn"
   [class.sidebar-closed]="sidebarClosed">
   <ng-sidebar-container>
      <div ng-sidebar-content>
         <ng-sidebar #sidenav [(opened)]="_opened" [(mode)]="_mode" [(closeOnClickOutside)]="_closeOnClickOutside"
            [(showBackdrop)]="_showBackdrop">
            <div class="sidebar-panel chankya-sidenav">
               <div class="sidebar-logo-wrap">
                  <div class="sidebar-logo d-flex">
                     <!-- <div class="logo-sign">
                     <img src="assets/img/logo-sign.png" alt="">
                     </div> -->
                     <div class="logo-sign">
                        <img alt="Logo Tatiana Takeda" src="assets/img/favicon.png" width="120" height="33">
                     </div>
                  </div>
               </div>
               <div class="sidebar-container">
                  <div class="user-section text-center">
                     <div class="sidebar-user-wrap">
                        <div class="sidebar-user-inner">
                           <div class="d-flex">
                              <div class="thumb-wrap mb-1"><img alt="Photo User" class="img-fluid" src="{{ user.photoURL }}" width="90" height="90"></div>
                              <!-- <div class="thumb-wrap mb-1"><img alt="Chankya Admin" class="img-fluid" src="assets/img/user-3.jpg" width="90" height="90"></div> -->
                              <div class="user-action">
                                 <a href="javascript:void(0)" class="text-white"><i class="material-icons">more_horiz</i></a>
                                 <div class="sidebar-user-menu">
                                    <ul>
                                       <!-- <li><a routerLink="/user-pages/userprofile"><i class="icon-user icons"></i><span>Meu Perfil</span></a></li> -->
                                       <li><a (click)="logout()"><i class="icon-logout icons"></i><span>Sair</span></a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="sidebar-user-info-wrap">
                              <div class="sidebar-user-name">{{ user.displayName }}</div>
                              <!-- <div class="sidebar-user-name">{{ user?.displayName }}</div> -->
                              <!-- <div class="sidebar-user-name">Isaias Tavares</div> -->
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="sidenav-scrollbar-container">
                     <perfect-scrollbar class="ps-container ps-theme-default">
                        <nav menuToggleDirective class="navigation">
                           <ul class="chankya-nav">
                              <li class="nav-item" menuToggleLink *ngFor="let menuitem of menuItems.getAll()">
                                 <a target="_blank" href="{{menuitem.state}}" *ngIf="menuitem.type === 'ext-link'"
                                    tourAnchor="tour-ui">
                                    <i class="{{ menuitem.icon }}"></i>
                                    <p class="text-nowrap mb-0">
                                       <span>{{ menuitem.name }}</span>
                                    </p>
                                 </a>
                                 <a menuToggle [routerLink]="['/admin/', menuitem.state]" routerLinkActive="active-link"
                                    *ngIf="menuitem.type === 'link'">
                                    <i class="{{ menuitem.icon }}"></i>
                                    <p class="text-nowrap mb-0">
                                       <span>{{ menuitem.name }}</span>
                                    </p>
                                 </a>
                                 <a menuToggle href="javascript:void(0)" *ngIf="menuitem.type === 'sub'">
                                    <i class="{{ menuitem.icon }}"></i>
                                    <p class="text-nowrap mb-0">
                                       <span>{{ menuitem.name }}</span>
                                       <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </p>
                                 </a>
                                 <ul class="sub-menu chankya-nav" *ngIf="menuitem.type === 'sub'">
                                    <li class="nav-item" *ngFor="let childitem of menuitem.children" routerLinkActive="open">
                                       <a [routerLink]="['/admin/', menuitem.state, childitem.state ]" routerLinkActive="active-link">
                                          <i class="icon icon-arrows-right-double"></i>
                                          <p class="text-nowrap mb-0"><span>{{ childitem.name }}</span></p>
                                       </a>
                                    </li>
                                 </ul>
                              </li>
                           </ul>
                        </nav>
                     </perfect-scrollbar>
                  </div>
               </div>
            </div>
            <!-- sidebar panel closed -->
         </ng-sidebar>
         <section class="main-contents">
            <header class="main-header">
               <div class="d-flex justify-content-between align-items-center chankya-header-toolbar w-100">
                  <div class="h-100 d-flex align-items-center col-sm-6 col-md-6 col-lg-6 pl-0 pr-0">
                     <div class="h-100 d-flex justify-content-start align-items-center">
                        <div class="h-100 chankya-ham-icon">
                           <button class="c-hamburger c-hamburger--rot" (click)="sidebarClosedFunction()" (click)="_toggleOpened()">
                              <span>toggle menu</span>
                           </button>
                        </div>
                     </div>
                  </div>
                  <div class="align-items-end pr-0 col-sm-6 col-md-6 col-lg-6">
                     <div class="d-flex secondary-menu justify-content-end align-items-center">
                        <ul class="nav secondary-menu-list d-flex justify-content-end align-items-center"
                           data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                           <li class="d-none-sm fullscreen-toggle" (click)="toggleFullscreen()">
                              <a href="javascript:void(0)" class="zoom-out">
                                 <i class="material-icons" *ngIf="!isFullscreen">tv</i>
                                 <i class="material-icons" *ngIf="isFullscreen">fullscreen_exit</i>
                              </a>
                           </li>
                           <li class="dropdown">
                              <a class="relative rounded-bg" href="javascript:void(0)" id="navbarDropdownMenuLin"
                                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <img class="rounded-circle" src="{{ user.photoURL }}" alt="User-image" width="43"
                                    height="43">
                                 <!-- <img class="rounded-circle" src="assets/img/user-3.jpg" alt="User-image" width="43" height="43"> -->
                                 <div class="online-caret bg-success circle"><i class="fa fa-caret-down"></i></div>
                              </a>
                              <div class="dropdown-menu rounded-0 dropdown-menu-right p-0" aria-labelledby="navbarDropdownMenuLin">
                                 <!-- <a class="dropdown-item  d-flex pt-3">
                                     <div class="icon-area  align-self-start">
                                        <i class="fa fa-user"></i>
                                     </div>
                                     <div class="icon-msg ml-2 mr-2">
                                        <span class="align-self-start d-block ">Meu Perfil</span>
                                     </div>
                                  </a> -->
                                 <a class="dropdown-item  d-flex pb-2">
                                    <div class="icon-area align-self-start">
                                       <i class="fa fa-power-off"></i>
                                    </div>
                                    <div class="icon-msg ml-2 mr-2" (click)="logout()">
                                       <span class="align-self-start d-block">Sair</span>
                                    </div>
                                 </a>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </header>
            <!-- main header closed -->
            <div class="chankya-base-container" #scrollContainer>
               <!-- <div class="d-flex justify-content-between align-items-center page-info w-100 d-none-sm">
                   <a class="navbar-brand" href="javascript:void(0)">{{header}}</a>
                   <breadcrumb></breadcrumb>
                </div> -->
               <div class="inner-container">
                  <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
               </div>
            </div>
            <!-- chankya base container closed -->
         </section>
         <!-- main content closed -->
      </div>
      <!-- Sidebar Closed -->
   </ng-sidebar-container>
</div>
<!-- app closed -->