<!-- <div class="form-wrapper">
    <div class="row">
        <div class="col-lg-12 col-xl-12">
            <div class="chk-block">
                <div class="chk-block-content">
                    <form (ngSubmit)="save(content)">
                        <div class="col-lg-12 col-xl-12">
                            <div class="form-group" [formGroup]="form">
                                <label for="formInputTitle">Título</label>
                                <input [(ngModel)]="content.title" name="title" class="form-control" placeholder="Título"
                                    formControlName="title" type="text">
                            </div>
                            <small class="chankya-block" *ngIf="form.controls['title'].hasError('required') && form.controls['title'].touched"
                                class="text-danger">
                                Você deve incluir um Título.
                            </small>
                            <small class="chankya-block" *ngIf="form.controls['title'].hasError('minlength') && form.controls['title'].touched"
                                class="text-danger">
                                O Título deve ter no mínimo 5 caracteres.
                            </small>
                        </div>
                        <div class="col-lg-12 col-xl-12">
                            <figure class="imghvr-zoom-in">
                                <img src="{{ content.thumb }}" class="img-content-edit" alt="Imagem do Conteúdo">
                                <figcaption class="card-img-overlay pos-center text-center">
                                    <div class="center-holder">
                                        <a (click)="chooseFile()" class="square-40 circle bg-primary">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <form ngNoForm>
                                            <input id="content-thumb" name="file" type="file" (change)="upload()" style="display: none;">
                                        </form>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-lg-12 col-xl-12">
                            <br />
                            <div class="custom-controls-stacked mb-4">
                                <label for="formTypeContent">Tipo de Conteúdo</label>
                                <label class="custom-control custom-radio">
                                    <input id="text" name="radio-stacked" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Texto</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input id="video" name="radio-stacked" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Vídeo</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-12" *ngIf="content.type === 'VIDEO'">
                            <div class="form-group" [formGroup]="form">
                                <label for="formUrlVideo">URL do Vídeo</label>
                                <input [(ngModel)]="content.urlVideo" name="urlVideo" class="form-control" placeholder="http://www.youtube.com/id"
                                    formControlName="urlVideo" type="text">
                            </div>
                            <small class="chankya-block" *ngIf="form.controls['urlVideo'].hasError('required') && form.controls['urlVideo'].touched"
                                class="text-danger">
                                Você deve incluir uma URL do Vídeo.
                            </small>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="d-flex align-content-start">
                                <button (click)="back()" class="btn btn-secondary btn-lg">Voltar</button>
                            </div>
                            <div class="d-flex align-content-end">
                                <button class="btn btn-primary btn-lg" type="submit" [disabled]="!form.valid">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->