<div class="coming-wrapper bg-sc">
    <div class="bg-container">
     <div class="row">
         <div class="col-sm-10 col-md-10 col-lg-10 mx-auto">
             <div class="coming-soon-wrapper text-center">
                 <div class="mb-3">
                     <a routerLink="/" class="btn btn-primary btn-large btn-pill">Voltar para Página Inicial</a>
                 </div>
             </div>
         </div>
     </div>
     </div>
 </div>