<div class="page-header header-filter header-small clear-filter" data-parallax="true"
  style="background-image: url('assets/img/logos/logo_tatiana_takeda.jpeg');">
</div>
<div class="main main-raised">
  <!-- Sobre Tatiana -->
  <div class="section section-basic text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <img class="img" src="assets/img/img-tatiana-takeda.jpg" alt="Tatiana Takeda" />
            </div>
          </div>
          <h2 class="title">Tatiana Takeda</h2>
          <h5 style="text-align: justify; color: black">Tatiana Takeda é mãe de uma pessoa autista,
            professora, blogger e advogada.
            Conhecida por sua atuação nos estudos referentes aos Direitos e à Inclusão Social das
            Pessoas com Deficiência,
            desde o diagnóstico do filho (autista), a profissional dá cursos e profere diversas
            palestras no território
            brasileiro.<br /><br />

            Autora do Ebook "Viva a Diferença! - o que você precisa saber sobre autismo", produzido
            pela Plataforma Ludovica
            (afiliada Globo) e com acesso gratuito (download), a blogger escreve sobre a sua
            experiência como mãe de uma
            pessoa com deficiência, a inclusão social e, principalmente, acerca dos direitos deste
            público.<br /><br />

            Atuante na defesa dos direitos da pessoas com deficiência, a profissional, como
            representante da OAB/GO, intermediou
            diálogos com o Poder Público que resultaram no Decreto Estadual nº 9.107/2017, que
            instituiu a Carteira de
            Identificação do Autista (CIA), no Estado de Goiás (primeiro Estado brasileiro a criar tal
            documento), e na Lei
            Estadual nº 20.116/2018, que obriga todos os estabelecimentos públicos e privados do Estado
            de Goiás a inserir nas
            placas de atendimento prioritário o símbolo mundial do autismo.<br /><br />

            Comumente consultada por gestores públicos, legisladores e associações de todo o Brasil,
            acerca de questões jurídicas
            sobre inclusão e direitos das pessoas com deficiência, a genitora do Theo Luiz participa de
            várias ações na busca
            por contribuição para um mundo menos injusto, desigual e preconceituoso.<br /><br />

            Seu lema é: "A inclusão social é um caminho sem volta. Não podemos aceitar qualquer tipo de
            retrocesso." <br /><br />

            Minicurrículo: Advogada, Professora Universitária e de Pós-graduações, Blogger, Mestre em
            Direito, Relações
            Internacionais e Desenvolvimento, Especializanda em Direito Educacional, Pós-graduada em
            Direito Civil,
            Processo Civil, Gestão Ambiental, Direito Imobiliário e Ensino Estruturado para Autistas,
            Membro da Comissão dos
            Direitos das Pessoas com Deficiência da OAB/GO, em que coordena a Subcomissão de Defesa dos
            Direitos da Pessoa
            Autista (triênio 2016/2018), Vice-Presidente da Comissão de Inclusão Social e Defesa da
            Pessoa com Deficiência do
            IBDFAM/GO (triênio 2017/2019) e Administradora da página (facebook) "Direitos e Inclusão
            das Pessoas com
            Deficiência - Prof. Tatiana Takeda".
          </h5>
        </div>
      </div>
    </div>
  </div>
  <!--     *********    IMAGE SUBSCRIBE LINE     *********      -->
  <!-- Newsletter -->
  <div class="subscribe-line subscribe-line-image"
    style="background-image: url('assets/img/logos/TatianaTakeda-Facebook-Cover-03.png');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="text-center">
            <h3 class="title">Cadastre-se para receber notícias.</h3>
          </div>
          <div class="card card-raised card-form-horizontal">
            <div class="card-body ">
              <div id="mc_embed_signup">
                <form
                  action="https://tatianatakeda.us7.list-manage.com/subscribe/post?u=e43ca57208384beec107d44af&amp;id=99b6c52a2a"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                  target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="mc-field-group input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">person</i>
                            </span>
                          </div>
                          <input type="text" value="" name="FNAME" class="form-control required" id="mce-FNAME"
                            placeholder="Nome">
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="mc-field-group input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">person</i>
                            </span>
                          </div>
                          <input type="text" value="" name="LNAME" class="form-control required" id="mce-LNAME"
                            placeholder="Sobrenome">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-md-6">
                        <div class="mc-field-group input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">mail</i>
                            </span>
                          </div>
                          <input type="email" value="" name="EMAIL" class="form-control required email" id="mce-EMAIL"
                            placeholder="Seu email...">
                        </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                        <div class="mc-field-group input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">phone</i>
                            </span>
                          </div>
                          <input type="text" value="" name="PHONE" class="form-control" id="mce-PHONE"
                            placeholder="Telefone">
                        </div>
                      </div>
                    </div>
                    <div id="mce-responses">
                      <div class="response div-align-center" id="mce-error-response" style="display:none"></div>
                      <div class="response div-align-center" id="mce-success-response" style="display:none"></div>
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                        name="b_e43ca57208384beec107d44af_99b6c52a2a" tabindex="-1" value=""></div>
                    <br />
                    <div class="row col-lg-4 col-md-4 div-align-center">
                      <button id="mc-embedded-subscribe" name="subscribe" type="submit"
                        class="btn btn-primary btn-block">Cadastrar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Cursos -->
  <div class="text-center">
    <div class="faixa-azul">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="text-center">
              <h3 class="title white">Cursos</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h4 style="margin-top: 30px" class="card-title">Saiba mais sobre os cursos que serão disponibilizados para
      vocês referente ao Direito e Inclusão.</h4>
    <!-- <a href="" target="_blank" style="margin-bottom: 30px" class="btn btn-primary btn-raised btn-lg">
      <i class="fa fa-plus"></i> Saiba mais
    </a> -->
    <a href="" target="_blank" style="margin-bottom: 30px" class="btn btn-primary">
      <i class="material-icons">add</i> Saiba mais
    </a>
  </div>

  <!-- Eventos -->
  <div>
    <div class="faixa-azul">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="text-center">
              <h3 class="title white">Eventos</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-left: 10px; margin-right: 10px; margin-top: 10px">
      <div class="col-md-4" *ngFor="let evento of eventos">
        <div class="card card-raised card-background"
          style="background-image: url('../assets/img/autismo/evento-background.jpg')">
          <div class="card-body">
            <a>
              <h3 class="card-title">{{ evento.title }}</h3>
            </a>
            <p class="card-description">
              Data: {{ evento.data }}
              <br />
              Horário: {{ evento.horario }}
              <br />
              Local: {{ evento.local }}
            </p>
            <a [href]="evento.link_detalhes" target="_blank" class="btn btn-primary">
              <i class="material-icons">add</i> Detalhes
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Vídeos -->
  <div>
    <div class="faixa-azul">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="text-center">
              <h3 class="title white">Vídeos</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-left: 10px; margin-right: 10px; margin-top: 40px">
      <div class="col-md-4 ml-auto mr-auto" *ngFor="let video of videos">
        <div class="iframe-container">
          <iframe class="embed-responsive-item" height="250" [src]="video.link | safe" frameborder="0"
            allow="autoplay; fullscreen; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h4 class="card-title text-center">
            {{ video.title }}
          </h4>
          <div *ngIf="video.description">
            <p class="text-center">
              <a class="btn btn-primary" data-toggle="collapse" href="#collapseDescription" aria-expanded="false"
                aria-controls="collapseDescription">
                <i class="material-icons" style="margin-right: 5px">subject</i> Ler Descrição
              </a>
            </p>
            <div class="collapse" id="collapseDescription">
              <p class="card-description" [innerHTML]="video.description"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Nossos Parceiros -->
  <div class="text-center">
    <div class="faixa-azul">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="text-center">
              <h3 class="title white">Nossos parceiros</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mr-auto ml-auto">
        <div class="card card-raised card-carousel">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active"
                style="height: 200px; width: 290px; margin-left: 15px; margin-bottom: 50px;">
                <img class="d-block img-carousel" src="assets/img/parceiros/cabral_engenharia.png"
                  alt="Cabral Engenharia">
              </div>
              <div class="carousel-item" style="height: 200px; width: 200px; margin-left: 57px; margin-bottom: 50px;">
                <img class="d-block img-carousel" src="assets/img/parceiros/misbel.png" alt="Misbel">
              </div>
              <div class="carousel-item" style="height: 200px; width: 200px; margin-left: 57px; margin-bottom: 50px;">
                <img class="d-block img-carousel" src="assets/img/parceiros/odontoclinrv.png" alt="Misbel">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <i class="material-icons">keyboard_arrow_left</i>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <i class="material-icons">keyboard_arrow_right</i>
              <span class="sr-only">Próxima</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Comentários -->
  <div class="section section-comments">
    <div class="faixa-azul">
      <div class="container">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <div class="text-center">
              <h3 class="title white">Comentários</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto" style="margin-top: 30px;">
        <div class="media-area">
          <div class="media" *ngFor="let comment of comments">
            <a class="float-left">
              <div class="avatar">
                <img class="media-object" alt="64x64" src="assets/img/placeholder.jpg">
              </div>
            </a>
            <div class="media-body">
              <h4 class="media-heading">{{ comment?.name }}
                <small>&#xB7; {{ comment?.created_at.toDate() | date: 'dd/MM/yyyy HH:mm:ss' }}</small>
              </h4>
              <p>{{ comment?.text }}</p>
            </div>
          </div>
          <h3 class="title text-center">Poste seu comentário</h3>
          <div class="media media-post">
            <a class="author float-left">
              <div class="avatar">
                <img class="media-object" alt="64x64" src="assets/img/placeholder.jpg">
              </div>
            </a>
            <div class="media-body">
              <form class="form">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input [(ngModel)]="commentForm.name" name="commentName" type="text" class="form-control"
                        placeholder="Nome">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input [(ngModel)]="commentForm.email" name="commentEmail" type="email" class="form-control"
                        placeholder="Email">
                    </div>
                  </div>
                </div>
                <textarea [(ngModel)]="commentForm.text" name="commentText" class="form-control"
                  placeholder="Escreva algumas coisas legais..." rows="5"></textarea>
                <div class="media-footer">
                  <button (click)="add(commentForm)" class="btn btn-primary float-right">Postar Comentário</button>
                </div>
              </form>
            </div>
            <!-- end media-body -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>(function ($) {
      window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[4] = 'PHONE'; ftypes[4] = 'phone';
      $.extend($.validator.messages, {
        required: "Campo de preenchimento obrigat&oacute;rio.",
        remote: "Por favor, corrija este campo.",
        email: "Por favor, introduza um endere&ccedil;o eletr&oacute;nico v&aacute;lido.",
        url: "Por favor, introduza um URL v&aacute;lido.",
        date: "Por favor, introduza uma data v&aacute;lida.",
        dateISO: "Por favor, introduza uma data v&aacute;lida (ISO).",
        number: "Por favor, introduza um n&uacute;mero v&aacute;lido.",
        digits: "Por favor, introduza apenas d&iacute;gitos.",
        creditcard: "Por favor, introduza um n&uacute;mero de cart&atilde;o de cr&eacute;dito v&aacute;lido.",
        equalTo: "Por favor, introduza de novo o mesmo valor.",
        accept: "Por favor, introduza um ficheiro com uma extens&atilde;o v&aacute;lida.",
        maxlength: $.validator.format("Por favor, n&atilde;o introduza mais do que {0} caracteres."),
        minlength: $.validator.format("Por favor, introduza pelo menos {0} caracteres."),
        rangelength: $.validator.format("Por favor, introduza entre {0} e {1} caracteres."),
        range: $.validator.format("Por favor, introduza um valor entre {0} e {1}."),
        max: $.validator.format("Por favor, introduza um valor menor ou igual a {0}."),
        min: $.validator.format("Por favor, introduza um valor maior ou igual a {0}.")
      });
    }(jQuery)); var $mcj = jQuery.noConflict(true);</script>