<div class="page-header header-filter header-small" data-parallax="true"
    style="background-image: url('../assets/img/autismo/autismo_maos_pintadas.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Espaço destinado à indicação de projetos de lei correlacionados ao assunto
                    Inclusão Social e Pessoa com Deficiência</h2>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="section" style="margin-left: 40px; margin-right: 40px">
        <div *ngFor="let projeto of projetos">
            <div class="card">
                <div class="card-header card-header-primary">
                    <i class="material-icons">gavel</i>
                    <strong> {{ projeto.title }}</strong>
                </div>
                <div class="card-body">
                    <h6 class="card-title">Autor: {{ projeto.autor }}</h6>
                    <h6 class="category">Apresentação: {{ projeto?.apresentacao.toDate() | date: 'dd/MM/yyyy' }}</h6>
                    <p><strong>EMENTA:</strong> {{ projeto.ementa }}</p>

                    <a [href]="projeto.link" target="_blank" class="btn btn-primary">
                        <i class="material-icons">link</i> Acessar
                    </a>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>