<div class="page-header header-filter header-small" data-parallax="true"
  style="background-image: url('../assets/img/autismo/autismo_coracao_maos.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Eventos sobre Autismo ao redor do Brasil</h2>
      </div>
    </div>
  </div>
</div>
<div class="main main-raised">
  <div class="section" style="margin-left: 40px; margin-right: 40px">
    <div class="row">
      <div class="col-md-4" *ngFor="let evento of eventos">
        <div class="card card-raised card-background"
          style="background-image: url('../assets/img/autismo/evento-background.jpg')">
          <div class="card-body">
            <a>
              <h3 class="card-title">{{ evento.title }}</h3>
            </a>
            <p class="card-description">
              Data: {{ evento.data }}
              <br />
              Horário: {{ evento.horario }}
              <br />
              Local: {{ evento.local }}
            </p>
            <a [href]="evento.link_detalhes" target="_blank" class="btn btn-primary">
              <i class="material-icons">add</i> Detalhes
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>