<div class="page-header header-filter header-small" data-parallax="true"
    style="background-image: url('../assets/img/autismo/autismo_maos_pintadas.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Vídeos com conteúdos interessantes sobre Autismo</h2>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="section" style="margin-left: 40px; margin-right: 40px">
        <div class="row">
            <div class="col-md-4 ml-auto mr-auto" *ngFor="let video of videos">
                <div class="iframe-container">
                    <iframe class="embed-responsive-item" height="250" [src]="video.link | safe" frameborder="0"
                        allow="autoplay; fullscreen; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">
                        {{ video.title }}
                    </h4>
                    <div *ngIf="video.description">
                        <p class="text-center">
                            <a class="btn btn-primary" data-toggle="collapse" href="#collapseDescription"
                                aria-expanded="false" aria-controls="collapseDescription">
                                <i class="material-icons" style="margin-right: 5px">subject</i> Ler Descrição
                            </a>
                        </p>
                        <div class="collapse" id="collapseDescription">
                            <p class="card-description" [innerHTML]="video.description"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>